/**************************************ELEMENT CSS***********************************************/

body {
    margin: 0;
    text-align: center;
    font-family: "merriweather", serif;
    background-color: #e4f9f5;
}
h1 {
    font-family: "sacramento", serif;
    margin-left: 0;
    margin-top: 0;
}

h2 h3 {
    font-family: "Montserrat", serif;
}

/**************************************ID CSS***********************************************/

#id {
    position: fixed;
}

/**************************************CLASS CSS***********************************************/

.top-container {
    position: relative;
    padding-top: 100px;
}
.top-cloud {
    position: absolute;
    right: 200px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.navTable li {
    display: inline;
}