/**************************************ELEMENT CSS***********************************************/
body {
    margin: 0;
}
h1 {
    margin-left: 0;
    margin-top: 0;
}

/**************************************ID CSS***********************************************/

/**************************************CLASS CSS***********************************************/

.box1 {
    height: 200px;
    width: 200px;
    background-color: red;
}

.box2 {
    height: 200px;
    width: 200px;
    background-color: green;
}

.navTable li {
    display: inline;
}