
/**************************************ELEMENT CSS***********************************************/

body {
    margin: 0;
    text-align: center;
    font-family: "merriweather", serif;
    background-color: #e4f9f5;
    font-weight: normal;
}
h1 {
    font-family: "sacramento", serif;
    margin-left: 0;
    margin-top: 0;
    font-size: 5.625rem;
    color: #66bfbf;
}

h2, h3 {
    font-family: "Montserrat", serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
}

h3 {
    color: #11999e;
}

/**************************************ID CSS***********************************************/

#id {
    position: fixed;
}

/**************************************CLASS CSS***********************************************/

.top-container {
    position: relative;
    padding-top: 100px;
}
.top-cloud {
    position: absolute;
    right: 15%;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 15%;
    bottom: 300px;
}

.navTable li {
    display: inline;
}

.jeff {
    border-radius: 100%;
    height: 200px;
    width: 150px;
}


